@{
  Layout = "_Layout";
}
@model Factory.Models.Machine;

<h1>Record a new Machine</h1>
@using (Html.BeginForm())
{
  @Html.ValidationMessageFor(model => model.MachineName, "", new { @class = "text-danger", @style = "font-weight: 600;" })
  @Html.LabelFor(model=>model.MachineName)
  @Html.EditorFor(model=>model.MachineName)
  <br>
  @Html.ValidationMessageFor(model => model.DateAcquired, "", new { @class = "text-danger", @style = "font-weight: 600;" })
  @Html.LabelFor(model=>model.DateAcquired)
  @Html.EditorFor(model=>model.DateAcquired)
  <br>
  @Html.Label("Add qualified engineers for this machine now?")
  @Html.CheckBox("splashOrDetails", true)
  <br>
  <button>Save!</button>
}
