@{
  Layout = "_Layout";
}
@model Factory.Models.Engineer;

<h1>Record a new Engineer</h1>
@using (Html.BeginForm())
{
  @Html.LabelFor(model=>model.EngineerName)
  @Html.EditorFor(model=>model.EngineerName)
  <br>
  @Html.LabelFor(model=>model.DateOfHire)
  @Html.EditorFor(model=>model.DateOfHire)
  <br>
  @Html.Label("Add Certifications for this Engineer now?")
  @Html.CheckBox("splashOrDetails", true)
  <br>
  <button>Save!</button>
}
