@{
  Layout = "_Layout";
}
@using Factory.Models;

<h1>Engineer Details View</h1>
<h4>@Model.EngineerName</h4>
<h5>Hired on: @Model.DateOfHire.ToString("d")</h5>
<h5>Certifications:</h5>
<ul>
    @foreach (RepairCert cert in Model.RepairCerts)
    {
      <li>@Html.ActionLink($"{@cert.Machine.MachineName}", "Details", "Machines", new {id = cert.Machine.MachineId}) </li>
    }
</ul>
@Html.ActionLink("Record Qualifications for this Engineer", "AddCert", "Engineers", new {id = Model.EngineerId})
@Html.ActionLink("Update this Engineer's info", "Edit", "Engineers", new {id = Model.EngineerId})
